<div class="col-md-12">
This is the wizard view.
</div>


<div class="process">
  <div class="process-row">
    <div class="process-step">
      <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-power-off fa-3x"></i></button>
      <p>Power</p>
    </div>
    <div class="process-step">
      <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fi-bluetooth fa-3x"></i></button>
      <p>Pair</p>
    </div>
    <div class="process-step">
      <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-cog fa-3x"></i></button>
      <p>Adjust</p>
    </div>
    <div class="process-step">
      <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-thumbs-up fa-3x"></i></button>
      <p>Done</p>
    </div>
  </div>
</div>



<button class="btn btn-primary" ng-click="wizardCtrl.startListening()"> Start !</button>
<button class="btn btn-danger" ng-click="wizardCtrl.stopListening()"> Stop !</button>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{wizardCtrl.status}}%">
  </div>
</div>





